body{
    font-family: cursive;
    margin: 0;
    padding: 0;
    text-align: center;
}
header{
    background-color: grey;
    font-size: 30px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}
.content{
    margin-top: 200px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
.box{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
}
input, button{
    padding: 10px 10px;
    font-size: 20px;
}